# PostgreSQL Connection
DATABASE_URL="postgresql://postgres:password@localhost:5432/velozity_db?schema=public"

# Application Config
PORT=5000
NODE_ENV=development
CLIENT_URL="http://localhost:5173"
SERVER_URL="http://localhost:5000"

# JWT Secrets & Expiration
JWT_ACCESS_SECRET="velozity_super_secret_access_key_2026_change_in_prod"
JWT_REFRESH_SECRET="velozity_super_secret_refresh_key_2026_change_in_prod"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"
